# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Data (Ignore raw and processed data, keep structure)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/external/*
!data/external/.gitkeep

# Outputs
outputs/figures/*
!outputs/figures/.gitkeep
outputs/tables/*
!outputs/tables/.gitkeep
outputs/*.html

# Notebooks
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Project specific
paris-bins-ml-colab.zip
